@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Fugaz+One&display=swap');

* {
    display: block;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p,
a {
    font-family: "Cabin", sans-serif;
}

h1 {
    font-size: 34px;
}

.panel1 h1 .fugaz {
    font-family: "Fugaz One", sans-serif;
    color: #FFB0A6;
    font-size: 50px;
}

.nav-right {
    gap: 1rem;
}

.search {
    padding-right: 2rem;
}

.form-control {
    border-left: none;
}

.under-nav-bg {
    margin-top: 0.5rem;
    background-color: #FF9100;
    height: 1rem;
}

body {
    background-color: black;
}

/* Automatické zmenšení pro mobilní zařízení */
@media (max-width: 991px) {
    .navbar-collapse {
        font-size: 1rem;
    }

    .navbar svg {
        width: 20px;
        height: 20px;
    }

    .navbar .navbar-brand img {
        height: 45px;
    }

    .search {
        padding-right: 0;
    }

    .profil img {
        height: 20px;
    }

    .nav-right {
        padding-top: 0 !important;
    }

    .kosik {
        display: flex;
        align-items: center;
    }

    .navbar-toggler-icon {
        width: 28px;
        height: 28px;
    }

    .navbar-toggler {
        border: none;
    }
}

.panel1 .text{
    text-align: center;
    padding-inline: 15rem;
}
.panel1 {
    background-image: url(../images/panel1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 3rem;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-bg {
    background-color: rgb(0, 0, 0, 0.8);
    padding: 0.8rem;
    padding-inline: 2.5rem; 
    padding-top: 2rem;
}
