@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Fugaz+One&display=swap');

h1,
h2,
h3,
p,
a {
    font-family: "Cabin", sans-serif;
}

.obsah {
    max-width: 1400px;
    margin: auto;
}

nav,
.under-nav-bg {
    max-width: 1500px;
    margin: auto;
}

h1 {
    font-size: 34px;
}

.fugaz {
    font-family: "Fugaz One", sans-serif;
    color: #FFB0A6;
    font-size: 50px;
}

.form-check-input:checked {
    background-color: #FF9100 !important;
    border-color: var(--primary-color) !important;
}

.form-range::-webkit-slider-thumb {
    background-color: #FF9100 !important;
}


.nav-right {
    gap: 1rem;
}

.search {
    padding-right: 2rem;
}

.form-control {
    border-left: none;
}

.under-nav-bg {
    margin-top: 0.5rem;
    background-color: #FF9100;
    height: 1rem;
}

body {
    background-color: black;
}

/*mobil */
@media (max-width: 991px) {
    .navbar-collapse {
        font-size: 1rem;
    }

    .navbar svg {
        width: 20px;
        height: 20px;
    }

    .navbar .navbar-brand img {
        height: 45px;
    }

    .search {
        padding-right: 0;
    }

    .profil img {
        height: 20px;
    }

    .nav-right {
        padding-top: 0 !important;
    }

    .kosik {
        display: flex;
        align-items: center;
    }
/* 
    .navbar-toggler-icon {
        width: 28px;
        height: 28px;
    } */

}

.panel1 .text {
    text-align: center;
}

.panel1 {
    background-image: url(../images/panel1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 3rem;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.text-bg {
    background-color: rgb(0, 0, 0, 0.7);
    padding: 0.8rem;
    padding-inline: 2.5rem;
    padding-top: 2rem;
}


.panel2 {
    padding-inline: 0.5rem;
}

.panel2 h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    font-size: 32px;
}



.btn-1,
.btn-2 {
    text-decoration: none !important;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
}

.btn-1 {
    background-color: #FFB0A6;
    width: 100%;
}

.btn-2 {
    background-color: #FFD6D0;
}

.card h6 {
    font-size: 24px;
    color: #FF9E01;
}

.card {
    background-color: black;
    color: #fff;
    margin-bottom: 3rem;
}

.card p, .card a {
    font-size: 17px;
}

.cena {
    font-size: 32px;
}



.row {
    justify-content: center;
    align-items: center;
}

div.sticky {
    padding-inline: 1rem;
    height: 93vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: sticky;
    top: 0;
}

input[type="search"] {
    color: rgb(255, 255, 255) !important;
}

.postrana {
    margin-top: 3rem;
}

.search-input::placeholder {
    color: #fff;
    opacity: 40%;
}

.sticky h5 {
    font-weight: 600 !important;
}

.form-select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 16px;
}

/* .navbar-toggler-icon {
    appearance: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28ff, ff, ff, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 16px;
} */

.color-picker {
    display: flex;
    flex-direction: column;
}

.form-select {
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.color-radio {
    display: none;
}

.color-box {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.red {
    background-color: #ff0000;
}

.orange {
    background-color: #ff6600;
}

.yellow {
    background-color: #ffd900;
}

.green {
    background-color: #06b93c;
}

.blue {
    background-color: #00aeff;
}

.purple {
    background-color: #c063fd;
}

.pink {
    background-color: #ff74f3;
}

.color-radio:checked+.color-box,
.strana-fotky div a:hover {
    border: 2px solid #fff;
}

.color-picker label {
    padding-left: 2.5rem;
    padding-top: 4px;
}






.popis h3 {
    color: #FF9100;
}

.popis p {
    opacity: 80%;
}

.parametry p {
    opacity: 100%;
}

.popis p,
.recenze p,
.doprava p {
    margin-bottom: 0 !important;
}



.share-like button {
    border-radius: 5px;
    padding: 5px;
}

.rate {
    display: inline-flex;
    direction: rtl;
    font-size: 1.5rem;
}

.rate input {
    display: none;
}

.rate label {
    color: lightgray;
    cursor: pointer;
}

.rate input:checked~label {
    color: gold;
}

.rate label:hover,
.rate label:hover~label {
    color: gold;
}

.podrobnosti h5 {
    color: #ffc001;
    text-decoration: underline;
    text-underline-offset: 1rem;
}
.podrobnosti hr {
   margin: 0;
   margin-top: 10px;
}
.tab {
    background-color: #FFB0A6;
    padding-inline: 2rem;
    opacity: 80%;
    border-radius: 10px;
}
.recenze-text {
    border: 1px solid  #fff;
    border-radius: 10px;
    padding-inline: 1.5rem;
}
.pfp {
    border-radius: 50%;
    float: inline-start;
}
.dano {
    margin-left: 5rem;
}
.vybral, .cas {
    opacity: 50%;
}
.cas {
    display: flex;
    justify-content: end;
}
.recenze-img img {
    max-height: 100px;
}

.products.row, .recenze div {
    align-items: stretch;
}
.products .card {
    height: 100%;
}
.filtr-bt button {
    position: absolute;
    margin-top: 1rem;
    margin-left: 2rem;
}

@media (max-width: 768px) {
    .panel1 {
        margin-top: 0;
    }
}
.dropdown .btn  {
    border: none;
}

.dropdown-menu[data-bs-popper] {
    right: 0;
    left: initial;
}

.cena-kosik {
 color: #ff6600;
}
.kosik img {
    padding-bottom: 10px;
}

.btn-1,
.btn-2 {
    text-decoration: none !important;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
}
